.lapiz,
.cruz {
    font-size: 18px;
}

.linea-aclarativa {
    margin: 20px;
    color: black;
}

.linea-eliminar {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.cancelar {
    margin-top: 10px;
}

th,
td {
    color: black;
    text-align: center;
}

.atributo-botones {
    width: 150px;
    align-items: center;
}

.busqueda-admin {
    width: 97%;
    margin: 1.5%;
}

footer {
    color: black;
}

#busquedas {
    margin-top: 130px;
}

.buscar {
    background-color: white;
}